.welcome-tomato{
  color: #A36336;
  font-weight: bold;
}

.welcome-potato{
  color: #A36336;
  font-weight: bold;
}

.welcome-top{
  margin-top:10%;
}


@media(min-width:576px){
  .card {
    width: 430px;
  }
}